<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <header id="top" class="row">
        <div class="small-12 columns">
        <h1><a href="/"><img src="/img/umct-gear.png" alt="UMCT Logo" />{{ site.name }}</a></h1>
        <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li>about</li>
            <li>racing</li>
            <li><a href="/sponsors.html">sponsors</a></li>
            <li><a href="/contact.html">contact</a></li>
        </ul>
        </nav>
        </div>
    </header>
    <div id="content" class="row">
