<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <header id="top" class="row">
        <div class="small-12 columns">
        <h1><img src="/img/umct-gear.png" alt="UMCT Logo" />{{ site.name }}</h1>
        <nav>
        <ul>
            <li>home</li>
            <li>about</li>
            <li>racing</li>
            <li>sponsors</li>
            <li>contact</li>
        </ul>
        </nav>
        </div>
    </header>
    <div id="content" class="row">
