@import "foundation/components/grid";
@import "foundation/components/global";
@import "foundation/components/block-grid";

@import url(http://fast.fonts.net/cssapi/eabcf90f-61e0-4895-9207-c66597ce0428.css);

$umn-gold: #ffb501;
$umn-maroon: #8b2331;
$hr-color: #ccc;

body {
    font-family: 'Adobe Garamond W01';
    font-weight: 400;
}

@media #{$small-only} {
    h1 {
        font-size: 1.5em;
    }
}
h1,h2,h3 {
    font-family:'Trade Gothic W01';
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: $umn-maroon;
    img {
        height: 2.0em;
        padding-bottom: 0.1em;
        margin-right: 0.33em;
        display: inline-block;
    }
}
header#top {
    border-bottom: 1px solid $hr-color;
    h1 {
        margin-bottom: 4px;
        a {
            text-decoration: none;
        }
    }
    nav {
        a {
            text-decoration: none;
            &:link { color: #777; }
            &:visited { color: #777; }
            &:hover {
                color: $umn-maroon;
                text-shadow: 0 0 0.1em $umn-gold;
            }
            &:active {
                color: $umn-maroon;
                text-shadow: 0 0 0.1em $umn-gold;
            }
        }
        font-family: 'Adobe Garamond W01';
        font-style: italic;
        font-size: 1.2em;
        color: #888;

        float: right;
        
        margin-top: -4px;

        ul {
            margin-top: 0;
            margin-bottom: 8px;
            li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
    margin-bottom: 20px;
}
footer {
    margin-top: 2em;
    border-top: 1px solid $hr-color;
    clear: both;
    color: #888;
    padding-top: 0px;
    text-align: center;

}
#content {
    img {
        border: 1px solid #aaa;
        padding: 2px;
        background-color: white;
    }
}
a {
    transition: color 0.2s, text-shadow 0.2s;
    -moz-transition: color 0.2s, text-shadow 0.2s;
    -webkit-transition: color 0.2s, text-shadow 0.2s;
    img {
        transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        -webkit-transition: box-shadow 0.2s;
    }
}
a:link,a:visited {
    color: $umn-maroon;
}
a:hover,a:active {
    color: $umn-gold;
    //text-shadow: 0 0 0.1em $umn-maroon;
    img {
        box-shadow: 0 0 0.5em $umn-gold;
    }
}
.caption {
    margin-top: 8px;
    text-align: center;
    color: #888;
}
ul {
    padding-left: 24px;
}
#calendar {
    padding-left: 8px;
    dt {
        font-style: italic;
    }
    dd {
        margin: 4px 0 8px 8px;
    }
}
hr {
    border: none;
    height: 1px;
    color: $hr-color;
    background-color: #aaa;
    clear: both;
}
h2.post-title {
    float: left;
}
@media #{$small-only} {
    h2.post-title {
        margin-bottom: 0;
    }
}
p.post-meta {
    font-style: italic;
    color: #888;
    font-weight: normal;
    text-align: right;
    float: right;
    margin-top: 1.5em;
}
div.post-body {
    padding: 0 1em;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: justify;
}
div.post-social {
    padding: 1em;
    float: right;
    clear: both;
}
.sponsor-item p {
    padding: 0.25em 1em;
}
p.body-text {
    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
}
blockquote {
    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
    color: #666;
    border-left: 1px solid #666;
    margin-left: 1em;
    padding-left: 1em;
}
p.sponsor-description {
    font-size: 1em;
    line-height: 1.4em;
    text-align: justify;
}
.fb-share-button, .tw-share-button {
    display: inline-block;
}
.tw-share-button {
    height: 20px;
}
img.footer-sponsor {
}
