---
layout: base
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="small-12 large-8 large-push-2 columns">
<h2 class="post-title">{{ page.title }}</h2>
<p class="post-meta">posted on {{ page.date | date_to_string }}{%if page.author%} by {{ page.author }}{%endif%}</p>
<hr/>
<div class="post-body">
{{ content }}
</div>
<div class="post-social">
<div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
<div class="tw-share-button">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="uofmcycling">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</div>
</div>
